/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  min-height: 100%;
}

body {
  margin: 0 auto;
  max-width: 1000px;
}

.centre {
  text-align: center;
}

.hidden {
  display: none;
}

.user-bar {
  background-color: white;
  border-bottom: 2px solid black;
  padding: 5px 0;
  position: sticky;
  top: 0;
  z-index: 100;

  .discord-link, .middot {
    margin-left: 10px;
  }
  .discord-name {
    font-weight: bold;
  }
  .sign-out {
    position: absolute;
    right: 0;
  }
}