// Place all the styles related to the characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.character-sheet {
  align-content: start;
  align-items: start;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 10px;

  .sheet-col {
    position: relative;
    text-align: center;

    &.abilities {
      grid-row-end: span 9;
    }

    &.cocooned {
      padding-bottom: 2em;
    }

    &.split-2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5px;
    }
  }

  .full-width {
    grid-column: 1 / -1;
  }

  .span-2 {
    grid-column-end: span 2;
  }

  .table {
    display: table;

    .table-row {
      display: table-row;

      .table-head {
        display: table-cell;
        font-weight: bold;
        padding: 0 5px;
      }

      .table-cell {
        display: table-cell;
      }
    }
  }

  input[type=number] {
    width: 5em;
  }
  .small-num input[type=number] {
    width: 3em;
  }

  .spacer {
    height: 21px;
  }

  .favoured {
    position: absolute;
    left: 0;
  }

  .field {
    padding: 2px;
    text-align: right;

    label {
      margin-left: 5px;
    }

    @at-root .character-sheet .abilities .field:nth-of-type(even) {
      background-color: lightgray;
    }

    .favoured {
      margin-top: 1px;
    }
  }

  .centred {
    text-align: center;
  }

  label {
    display: inline;
    margin-right: 5px;
  }

  span.label {
    font-weight: bold;
    margin-left: 2em;
  }

  .header-bar {
    background-color: #f4d420;
    border: 2px outset darkgray;
    text-align: center;

    span {
      background-color: white;
      display: inline-block;
      font-weight: bold;
      padding: 2px 5px;
    }
  }

  span.pool-name {
    display: inline-block;
    margin-left: 2px;
    text-align: left;
    width: 75px;
  }

  .cocoon-links {
    position: relative;
  }

  a {
    &.add_fields {
      left: 1em;
      position: absolute;
      top: 0.5em;
    }
    &.remove_fields {
      left: 5px;
      position: relative;
      top: 0.5em;
    }

    svg {
      fill: black;
      width: 2em;
    }

    &:hover {
      svg {
        fill: goldenrod;
      }
    }
  }
}
